
<%- include("static/header.ejs") %>

<h1> History......</h1>
<p>
    Founded in 1931 by Ferdinand Porsche as a consulting firm, Porsche became a car manufacturer
     in 1948 with the introduction of the Porsche 356. The iconic Porsche 911, launched in 1964, 
     established the brand’s reputation for performance and design. Success in motorsport, 
     including notable wins at the 24 Hours of Le Mans, solidified its reputation. 
     Despite financial struggles in the 1990s, Porsche rebounded with new models like the Boxster 
     and the Cayenne SUV, expanding its market. The 2000s and 2010s saw further innovations, 
     including the Panamera and the hybrid 918 Spyder. 
     In the 2020s, 
     Porsche embraced electric mobility with the Taycan, 
     marking a significant shift towards sustainable performance while maintaining its legacy of 
     engineering excellence and motorsport success.





</p>





<%- include("static/footer.ejs") %>