<%- include("header.ejs") %>

    <div class="main">
        <h1>Come lets see <span class="magic"> MAGIC!!</span></h1>
      <div class="card-conatiner">
        <div class="left card" >
            <a href="/history"><img src="/app/public/img/porsche-logo.jpg" alt="logo of Porsche" class="title-image"></a>
            <h2 class="card-heading">History</h2>
            <p class="card-text">
                Porsche, founded in 1931 by Ferdinand Porsche, initially provided consulting services for car manufacturers.
                 The company’s first major vehicle was the Porsche 356, introduced in 1948 by Ferdinand’s son, Ferdinand “Ferry” Porsche   
            </p>
        </div>

        <div class="right card">
            <a href="/design"><img src="/app/public/img/car.jpg" alt="photo of car " class="title-image"></a>
            <h2 class="card-heading">Design </h2>
            <p class="card-text">
                Porsche’s design emphasizes sleek, aerodynamic lines and a distinctive,
                 low-slung profile that blends performance with elegance.
            </p>
        </div>

        <div class="center card">
            <a href="/performance"><img src="/app/public/img/engine.jpg" alt="photo of engine " class="title-image"></a>
            <h2 class="card-heading">Performance </h2>
            <p class="card-text">
                Porsche vehicles are renowned for their exceptional performance,
                 combining powerful engines with precise handling and advanced suspension systems

            </p>
        </div>

      </div>

    </div>

    <%- include("footer.ejs") %>

    <!-- <footer>
        <p>keep on griding!!</p>
    </footer>
</body>
</html> -->