<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <title>Blog Application</title>
</head>
<body>
    <header>
        <div class="nav container"></div>


            <ul class="navbar">
                
            <li><a href="/home" class="logo">MyBlog</a></li>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>

        </div>
    </header>